

{% extends 'base.html' %}

{% block content %}
<div class="article">

    <h1>{{ article.title }}</h1>
    {{ article.content|safe }}
    <!-- Loop through content array and display headings, paragraphs, and code snippets -->



</div>
<style>
    /* Set a dark background color for the entire page */
    body {
        background-color: #333333;  /* Dark gray background color */
        color: #f0f0f0;

        font-family: "Roboto", sans-serif; /* Material Design typography */
    }

    pre {
        background-color: #2d2d2d; /* Dark background color */
        color: #ffffff; /* White text color */
        padding: 10px; /* Add some padding around the code */
        border-radius: 4px; /* Add rounded corners to the code box */
        overflow: auto; /* Enable scrolling if the code is too long */
    }

    hr {
        height: 5px;
        border: none;
    }
</style>
{% endblock %}





